# --- Python & UV ---
__pycache__/
*.pyc
.venv/
.python-version

# --- OS Specific ---
.DS_Store

# --- IDEs ---
.vscode/
.idea/
other/

# Ignore generated plots and GIFs
# (You should Force Add specific 'hero' images for your README manually)
*.png
*.gif
*.pdf